html{
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    transition-duration: 0.4s;
    width: 150px;
    height: 150px;
    margin: 5px 10px;
    border-radius: 10%;
    padding: 100px;
    border: 0;
}

button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

#rock {
    background-image: url(images/fist.png);
    background-size: cover;
    background-color: red;
}

#paper{
    background-image: url(images/hand.png);
    background-size: cover;
    background-color: green;
}

#scissors{
    background-image: url(images/peace.png);
    background-size: cover;
    background-color: blue;
}

#rock:hover:enabled {    
    background-color: pink;
}

#paper:hover:enabled {    
    background-color: yellow;
}

#scissors:hover:enabled {    
    background-color: violet;
}

#rock:disabled, #paper:disabled, #scissors:disabled{
    background-color: white;
}
